
// color names were taken from http://chir.ag/projects/name-that-color/

//------------------------------------------------------
//      primary colors
//------------------------------------------------------
$cerulean:      #039BE5;
$dodger-blue:   #40C4FF;
$lily-white:    #ECF9FF;

//------------------------------------------------------
//      secondary colors
//------------------------------------------------------
$tuna:          #2F333E;
$bright-gray:   #353A45;
$tundora:       #424242;
$nevada:        #5e6c73;
$regent-gray:   #84939A;
$tower-gray:    #B0BEC5;
$porcelain:     #ECEFF1;
$snow-drift:    #F7F9F9;
$white:         #FFFFFF;

//------------------------------------------------------
//      accent colors
//------------------------------------------------------
$jungle-green:  #26B06D;
$shamrock:      #2BC97C;
$loafer:        #E5F9F0;
$yellow-orange: #FFAB40;
$sunset-orange: #FF5252;